// Здесь мы задаем переменные для цветов сайта, а также подключавем шрифты

:root{
    --color-main: rgb(205, 161, 129);
    --color-conc: rgb(208, 112, 53);
    --color-header: rgb(190, 81, 3);
    --color-buttons: rgb(130, 85, 52);

}

@font-face {
    font-family: "CormorantSC-B";
    src: url(/fonts/CormorantSC/CormorantSC-Bold.ttf);
  }

  @font-face {
    font-family: "CormorantSC-R";
    src: url(/fonts/CormorantSC/CormorantSC-Light.ttf);
  }

.font-reg{
    font-family: "CormorantSC-R";
}

.font-bold{
    font-family: "CormorantSC-B";
}